@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;200;300;400;500&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Silkscreen:wght@400;700&display=swap');
.loginContainer {

    display: flex;
    /* width: 70%; */
    justify-content: center;
    text-align: center;
    /* height: 100%; */
    font-family: 'Quicksand', sans-serif;

}

.login_Content {
    background-color: rgb(234, 233, 233);
    border-radius: 1rem;
    width: 35rem;
    height: 34rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
   
}
.login_Content .loginHeadingContainer h4 {
 font-size: 2rem;
 margin: 0px;
 margin-bottom: 2rem;
}

.form_control{
    padding-top: 2rem;
}
input{
    font-family: 'Quicksand', sans-serif;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 20rem;
    font-size: 1rem;
    text-align: center;
    border: rgb(155, 154, 154) solid 1px;
    border-radius: 5px;
    outline: none;
    font-family: 'Quicksand', sans-serif;


}
.form_control button{
    
    
    background-color: #53EFB0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 20rem;
    font-size: 1rem;
    text-align: center;
    /* border: rgb(155, 154, 154) solid 1px; */
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: 600;
    
}